/* Write your CSS here */
.app-container {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  min-height: 100vh;
}

.responsive-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.heading {
  font-family: 'Lobster';
  font-size: 48px;
  color: #0f172a;
  margin-bottom: 48px;
}

.filters-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  min-width: 1140px;
  padding: 10px;
  margin: 15px;
}

.failure-view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.failure-view-image {
  width: 250px;
  height: 180px;
}

@media screen and (min-width: 768px) {
  .error-view-image {
    width: 527px;
    height: 323px;
  }
}

.error-message {
  font-family: 'Bree Serif';
  color: #334155;
  font-size: 28px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .error-message {
    font-size: 48px;
  }
}

.repositories-list {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
